.validating-field
  margin-bottom: 28px
  input
    width: 200px
    padding: 7px
    &:hover
      border-color: #888888
    &:focus
      border-color: blue
  label
    font-family: sans-serif
    font-size: 14px
    display: block
    &.required:after
      content: "*"
      color: red
  &.with-errors
    input
      border-color: red
    label.error-message
      color: red
